body { font-family: "oswald"; }

.hidden {
	display: none;
}

main {
	width: 1280px;
	margin: 0 auto;
}

#main-header {
	display: flex;
	flex-direction: row;
}

#logo {
	width: 200px;
	height: 174px;
	background-color: #999999;
	margin-left: 126px;
}

#main-nav {
	width: 741px;
	height: 60px;
	background-color: #4c83a9;
	margin: 63px 0 74px  90px;
}

#hero-image {
	display: flex;
	margin: 0 auto 70px 0;
	background-color: #e8e8e8;
}

#image {
	height: 500px;
	background-color: #e8e8e8;
}

#welcome {
	width: 500px;
	height: 300px;
	background-color: #cccccc;
	z-index: -1;
	margin: 51px 392px 149px 386px;
}