body { font-family: "oswald"; }

.hidden {
	display: none;
}

main {
	width: 1280px;
	margin: 0 auto;
}

#main-header {
	display: flex;
	flex-direction: row;
}

#logo {
	width: 200px;
	height: 174px;
	background-color: #999999;
	margin-left: 126px;
}

#main-nav {
	width: 741px;
	height: 60px;
	background-color: #4c83a9;
	margin: 63px 0 74px  90px;
}

/* STYLES TO SECTIONS */

#hero-image {
	display: flex;
	margin: 0 auto 70px 0;
	background-color: #e8e8e8;
}

#image {
	height: 500px;
	background-color: #e8e8e8;
}

#welcome {
	width: 500px;
	height: 300px;
	background-color: #cccccc;
	z-index: -1;
	margin: 51px 392px 149px 386px;
}

#featured-content {
	display: flex;
	height: 600px;
	background-color: #4c83a9;
}

.container {
	justify-content: center;
}

.monthly-news {
	width: 420px;
	height: 70px;
	background-color: #363636;
	margin: 42px 425px 44px 425px;
}

.info-text {
	width: 1167px;
	height: 400px;
	background-color: #363636;
	margin: 0 55px 52px 58px;
}

/* PROMO IMAGE SECTION */

#promo .promo-pics {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 70px 55px 30px 55px;
}

.left {
	width: 370px;
	height: 300px;
	background-color: #707070;
}

.middle {
	width: 370px;
	height: 300px;
	background-color: #707070;
}

.right {
	width: 370px;
	height: 300px;
	background-color: #707070;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.lb {
	width: 170px;
	height: 60px;
	background-color: #555555;
	margin-left: 255px;
	margin-bottom: 60px;
}

.mb {
	width: 170px;
	height: 60px;
	background-color: #555555;
	margin-bottom: 60px;
}

.rb {
	width: 170px;
	height: 60px;
	background-color: #555555;
	margin-right: 55px;
	margin-bottom: 60px;
}

/* SUPPORTERS */

#local {
	height: 300px;
	background-color: #a1a1a1;
}

.member {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.support-title {
	width: 370px;
	height: 60px;
	background-color: #252525;
	margin: 34px auto 27px auto;
}

.supporters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 100px auto;
}

.icon {
	width: 150px;
	height: 150px;
	background-color: #555555;
	margin: 0 auto 60px auto;
}

#buttons {
	height: 130px;
	background-color: #555555
}

.press {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.press-button1 {
	width: 300px;
	height: 70px;
	background-color: #111111;
	margin: 28px auto 35px auto;
}

.press-button2 {
	width: 300px;
	height: 70px;
	background-color: #111111;
	margin: 28px auto 35px auto;
}

/* STARTING FOOTER */

.main-footer {
	display: flex;
	flex-direction: row;
	height: 398px;
	background-color: #363636;
}

.footer-container {
	margin-left: 140px;
}

.footer-left-top {
	display: flex;
	flex-direction: row;
}

.footer-logo {
	width: 200px;
	height: 177px;
	background-color: #999999;
	margin-top: 54px;
}

.footer-icon {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 70px;
	margin-top: 170px;
}

.social-icon {
	width: 60px;
	height: 60px;
	background-color: #636363;
	margin-left: 25px;
}

.footer-left-bottom {
	display: flex;
	flex-direction: row;
}

.navi {
	width: 700px;
	height: 60px;
	background-color: #bfbfbf;
	margin-top: 60px;
}

.footer-right {
	display: flex;
	flex-direction: column;
	margin-right: 115px; 
}

.address {
	width: 300px;
	height: 100px;
	background-color: #000000;
	margin-top: 44px;
}

.mail {
	width: 300px;
	height: 100px;
	background-color: #000000;
	margin-top: 35px;
}